{% extends 'base.html' %}

{% block title %}contacts{% endblock %}

{% block content %}
   
    <section class="contact py-5">
        <div class="container">
            <h2 class="text-center">Get in Touch</h2>
            <form class="mt-4">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter your name">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter your email">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" id="message" rows="5" placeholder="Your message"></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Send Message</button>
                </div>
            </form>
        </div>
        <iframe 
    src="http://127.0.0.1:8000/widgets/widget.html?api_key=19e107d0-ca66-4e19-8283-a38416de5d5b"
     style="width:340px;height:420px;border:0;border-radius:8px;overflow:hidden;"
>
</iframe>

    </section>
{% endblock %}
