{% extends 'base.html' %}

{% block title %}Search Appointment{% endblock %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Successful</title>
</head>
<body>
    <div class="container mt-5">
        <h1>Appointment Successfully Booked!</h1>
        <a href="{% url 'create_appointment' %}" class="btn btn-primary mt-3">Book Another Appointment</a>
    </div>
</body>
</html>
{% endblock %}